* {
  margin: 0;
  padding: 0;
}

.linkhover {
  color: #e74c3c;
  position: relative;
  font-weight: 600;
  display: inline-block;
  text-decoration: none;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  transition: all .3s linear;
}

.linkhover:hover {
  /* color: #222; */
}

.linkhover:before, .linkhover:after {
  content: '';
  background: #e74c3c;
  position: absolute;
  width: 0;
  height: 2px;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  transition: all .3s linear;
}

.linkhover:before {
  top: 0;
  left: 0;
}

.linkhover:after {
  top: 100%;
  right: 0;
}

.linkhover:hover:before, .linkhover:hover:after {
  width: 100%;
}